<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Mis clases</span>
    <span class="example-spacer"></span>
    <button mat-button [routerLink]="['/']">Inicio</button>
    <button mat-button [routerLink]="['/estudiantes']">Estudiantes</button>
    <button mat-button [routerLink]="['/clases']">Clases</button>
    <button mat-button [routerLink]="['/contabilidad']">Contabilidad</button>
    <button mat-button [routerLink]="['/ajustes']">Ajustes</button>
  </mat-toolbar-row>
</mat-toolbar>