<div style="padding: 20px;">

    
    <div class="contenedor-principal">
        <button class="boton-nuevaClase-fecha" mat-raised-button color="primary" (click)="addClassUndefinedDate()">
            Nueva Clase
        </button>
        <div class="contenedor-secundario">
            <mat-form-field appearance="outline">
                <mat-label>Filtrar por nombre</mat-label>
                <input (keyup)="aplicarFiltroNombre($event)" [(ngModel)]="filtroNombre" matInput placeholder="Búsqueda">
            </mat-form-field>
        </div>
        <button mat-raised-button color="secondary" (click)="limpiarFiltros()">
            <mat-icon>clear_all</mat-icon>Limpiar filtros
        </button>
    </div>
    
    <mat-accordion multi="true">
        <mat-expansion-panel *ngFor="let dia of (filtroActivo ? diasClasesFiltrados : diasClases)">
            <mat-expansion-panel-header>
                <mat-panel-title class="panel-title">
                    <span class="date-title">{{ dia.fecha | date: 'fullDate' }}</span>
                    <span *ngIf="dia.clases.length > 0" class="badge">
                        {{ dia.clases.length }}
                    </span>
                </mat-panel-title>
            </mat-expansion-panel-header>
    
            <table mat-table [dataSource]="dia.clases" class="mat-elevation-z8">
                
                <!-- Columna Hora -->
                <ng-container matColumnDef="hora">
                    <th mat-header-cell *matHeaderCellDef> Hora </th>
                    <td mat-cell *matCellDef="let clase"> {{ clase.fechaHora | date: 'HH:mm' }} </td>
                </ng-container>

                <!-- Columna Duración -->
                <ng-container matColumnDef="duracion">
                    <th mat-header-cell *matHeaderCellDef> Duración </th>
                    <td mat-cell *matCellDef="let clase"> {{ clase.duracion }} min. </td>
                </ng-container>
                <!-- Columna Estudiantes -->
                <ng-container matColumnDef="estudiantes">
                    <th mat-header-cell *matHeaderCellDef> Estudiantes </th>
                    <td mat-cell *matCellDef="let clase">
                      <!-- Verificar si idGrupo es vacío -->
                      <ng-container *ngIf="clase.idGrupo != ''; else showStudent">
                        {{ clase.nombreGrupo }} (grupo)
                      </ng-container>
                  
                      <!-- Template alternativo cuando idGrupo no es vacío -->
                      <ng-template #showStudent>
                        <!-- Suponiendo que tienes una forma de obtener el nombre completo del estudiante -->
                        {{ clase.estudiantes[0].nombre + ' ' + clase.estudiantes[0].apellidos}}
                      </ng-template>
                    </td>
                  </ng-container>
    
                <!-- Columna Precio -->
                <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef> Precio </th>
                    <td mat-cell *matCellDef="let clase"> {{ clase.precio }} zl </td>
                </ng-container>
    
                <!-- Columna Estado -->
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let clase"> {{ clase.estado }} </td>
                </ng-container>
    
                <!-- Columna Acciones -->
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let clase"> 
                        <button mat-icon-button color="primary" (click)="editClass(clase)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteClass(clase)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button class="button-done" mat-icon-button (click)="doneClass(clase)">
                            <mat-icon >check</mat-icon>
                        </button>
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    
        </mat-expansion-panel>
    </mat-accordion>
</div>
