<h2 mat-dialog-title>Añadir clase</h2>
<mat-dialog-content>
  <form [formGroup]="claseForm" class="form-grid">
    <div class="grid-row">
      <mat-radio-group formControlName="tipoClase" class="full-width-radio">
        <mat-radio-button value="particular">Particular</mat-radio-button>
        <mat-radio-button value="grupo">Grupo</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="grid-row" *ngIf="claseForm.get('tipoClase')!.value === 'particular'">
      <mat-form-field>
        <mat-label>Estudiante</mat-label>
        <mat-select formControlName="estudiante" (selectionChange)="onEstudianteSelected($event)">
          <mat-option *ngFor="let estudiante of estudiantes | async" [value]="estudiante.id">
            {{ estudiante.nombre + ' ' + estudiante.apellidos}} 
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Precio</mat-label>
        <input matInput placeholder="Precio" formControlName="precio">
      </mat-form-field>
    </div>
    <div class="grid-row" *ngIf="claseForm.get('tipoClase')!.value === 'grupo'">
      <mat-form-field>
        <mat-label>Grupo</mat-label>
        <mat-select formControlName="grupo" (selectionChange)="onGrupoSelected($event)">
          <mat-option *ngFor="let grupo of grupos | async" [value]="grupo.id">
            {{ grupo.nombre}} 
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Precio</mat-label>
        <input matInput placeholder="Precio" formControlName="precio">
      </mat-form-field>
    </div>
    <div class="grid-row" *ngIf="claseForm.get('tipoClase')!.value">
      <mat-form-field class="example-full-width">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaHora" >
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker disabled="false" [dateClass]="isClaseDay" #picker></mat-datepicker>
      </mat-form-field>
      <div style="display: flex; flex-direction: column; align-items: center;">
        <span style="font-size: small; text-align: center;">Inicio Clase</span>
        <!--{standalone: true} SE UTILIZA ESTO PARA HACER EL MODULO INDEPENDIENTE Y QUE NO CREE QUE CONFLICTO AL SER UNA LIBRERIA DIFERENTE-->
        <ngb-timepicker [(ngModel)]="time" [ngModelOptions]="{standalone: true}" [spinners]="false"/>
      </div>
    </div>
    <div class="grid-row" *ngIf="claseForm.get('tipoClase')!.value">
      <mat-form-field floatLabel="always">
        <mat-label>Duración</mat-label>
        <input matInput type="number" formControlName="duracion">
        <span matTextSuffix>Minutos</span>
      </mat-form-field>
    </div>
    <div class="grid-row" *ngIf="claseForm.get('tipoClase')!.value">
      <mat-form-field class="full-width-radio">
        <mat-label>Contenido</mat-label>
        <textarea formControlName="contenido" matInput></textarea>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button cdkFocusInitial (click)="guardarClase()">Añadir</button>
</mat-dialog-actions>