<h2 mat-dialog-title>Añadir clase</h2>
<mat-dialog-content>
    <form [formGroup]="claseForm" class="form-grid">
      <div class="grid-row">
        
      </div>
      <div class="grid-row">
        
      </div>
      <div class="grid-row">
        
      </div>
      <div class="grid-row">
        
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button cdkFocusInitial>Añadir</button>
  </mat-dialog-actions>